.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    border: 1px solid lightgray;
    width: 500px;
   }
.login>img{
   margin-top: 20px;
}
.login_form{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.input_email{
    margin-top: 10px;
    width: 100%;  
}
.input_password{
    margin-top: 20px;
    width: 100%;
}
.login_button{
    margin-top: 20px !important;
    width: 60%;
    font-size: small !important;
}
form>p{
    font-style: italic;
    color: gray;
}
.a{
    color: blue !important;
}