.qa_div{
    color: black;
}

.dot_red{
    
        height: 50px;
        width: 50px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        
        left: 680px;

      
      
}

.dot_green{
   
        height: 50px;
        width: 50px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
        margin-left: 80px;
      
      
}

.ans_para{
    padding: 17px;
}

.que_para{
    padding: 15px;
}