@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap);*, *:before, *:after {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

body, html {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 300;
  font-size: 2.5em;
}

.sidebar-btn {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="sidebar-btn"] {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect style='fill:rgb(255,255,255)' width='15' height='3'/><rect style='fill:rgb(255,255,255)' y='8' width='20' height='3'/><rect style='fill:rgb(255,255,255)' y='16' width='25' height='3'/></svg>");
  background-size: contain;
}

.sidebar-btn + label, .content {
  transition: left 0.1s;
}

.sidebar-btn:checked + label {
  left: 245px;
}

.sidebar-btn:checked ~ .content {
  left: 230px;
}

.sidebar {
  list-style-type: none;
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #574fd8;
}

.sidebar li {
  background-color: #574fd8;
  padding: 1em;
  color: #fff;
  width: 208px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 50ms;
  -o-transition-duration: 50ms;
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  cursor: pointer;
}
.sidebar li:hover {
  background-color: #574fd8;
  cursor: pointer ;
}

.sidebar li a{
  color: inherit;
  text-decoration: none;
}
.content {
  min-height: 100%;
  min-width: 100%;
  color: black;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 4em;
}

.banner_img{
  width: 80%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}
.grid .cell-width {
  width: 25%;
}
.grid .cell-height {
  position: relative;
  padding-top: 100%;
}
.grid .item {
  display: flex;
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 12% 5%;
  top: 4%;
  bottom: 4%;
  left: 4%;
  right: 4%;
  flex-direction: column;
}
.grid .item:hover, .grid .item:focus {
  transition: transform 175ms;
  transform: scale(1.075);
}
.grid .item img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.song_name{
  text-align: center;
    padding-top: 5px;
    font-size: 12px;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.song_name>i{
  padding-left: 5px !important;
}

.card {
    position: relative;
    margin: 50px auto;
    height: 150px;
    width: 450px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
  }

  .card .circle {
    border-radius: 3px;
    width: 150px;
    height: 150px;
    background: black;
    position: absolute;
    right: 0px;
    top: 0;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-bottom-left-radius: 170px;
  }

  .card .card_content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .card h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .card h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
  }

  .card_container{
    display: flex;
    width: 1200px;
    justify-content: space-between;
  }